{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">
    Student Management
</h2>

<!-- Add Student -->

<div class="d-flex justify-content-end mb-3">

    <a href="{{ url_for('student.add_student') }}"
       class="btn btn-success">

        <i class="bi bi-plus-circle"></i>
        Add Student

    </a>

</div>

<!-- Search Result -->

{% if keyword %}

<div class="alert alert-info">

    Search result for:
    <strong>{{ keyword }}</strong>

</div>

{% endif %}

<table class="table table-bordered table-hover shadow">

    <thead class="table-dark">

        <tr>

            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Major</th>
            <th>Email</th>
            <th>Status</th>
            <th width="180">Action</th>

        </tr>

    </thead>

    <tbody>

    {% if students %}

        {% for student in students %}

        <tr>

            <td>{{ student.MaSV }}</td>
            <td>{{ student.HoTen }}</td>
            <td>{{ student.GioiTinh }}</td>
            <td>{{ student.NganhHoc }}</td>
            <td>{{ student.Email }}</td>
            <td>{{ student.TrangThaiHocTap }}</td>

            <td>

                <a href="{{ url_for('student.edit_student', id=student.MaSV) }}"
                   class="btn btn-warning btn-sm">

                    <i class="bi bi-pencil-square"></i>

                </a>

                <a href="{{ url_for('student.delete_student', id=student.MaSV) }}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Delete this student?')">

                    <i class="bi bi-trash"></i>

                </a>

            </td>

        </tr>

        {% endfor %}

    {% else %}

        <tr>

            <td colspan="7" class="text-center text-muted">

                No students found.

            </td>

        </tr>

    {% endif %}

    </tbody>

</table>

{% endblock %}